.custom-button {
    -fx-background-color: #0055A4; /* Lighter Blue */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    /* Reduce padding (top, right, bottom, left) */
    -fx-padding: 4px 10px 4px 10px;

    /* Remove extra spacing inside the button */
    -fx-graphic-text-gap: 2px; /* If using icons */
    -fx-alignment: center; /* Center text properly */

    /* Border styling */
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: #003D7A;
    -fx-border-width: 2px;

    /* Cursor */
    -fx-cursor: hand;

    /* Shadow effect */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

/* Hover effect */
.custom-button:hover {
    -fx-background-color: #004A93;
}

/* Pressed effect */
.custom-button:pressed {
    -fx-background-color: #003D7A;
}

.date-picker .cell {
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-background-color: white;
    -fx-background-radius: 5;

}

.date-picker .cell:hover {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #1F263E;
}

.date-picker .cell:focused {
    -fx-border-color: #003D7A;
}

.date-picker-popup{
    -fx-border-color: #1F263E;
    -fx-border-radius: 10;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: white;
    -fx-border-radius: 10 10 10 10;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: white;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: white;
    -fx-border-radius: 10;
}

.date-picker .arrow-button {
    -fx-background-color: white;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #1F263E;
}

.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: #1F263E;
    -fx-border-radius: 50;
}

.check-box > .box {
    -fx-background-color: white;
    -fx-border-color: #757575;
    -fx-border-radius: 5;
}

.settings-text-field {
    -fx-background-color: white;
    -fx-border-color: #1F263E;
    -fx-border-radius: 5;
}

.table-view .column-header {
    -fx-background-color:  linear-gradient(to top, #ffffff, #d1dcff);
    -fx-border-radius: 10 0 0 0;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(255, 255, 255, 0.45);
}

.table-row-cell:selected {
    -fx-background-color: #1F263E;
    -fx-border-color: white;
}

.delete-button {
    -fx-background-color: #1F263E;
    -fx-background-radius: 5;
    -fx-max-height: 25;
    -fx-max-width: 20;
}



